.movieList {
    margin-bottom: 30px;
}

.movieList h2 {
    margin: 0px 0px 0px 30px;
}

.movie-listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movie-list {
    transition: all ease 0.5s;
}

.movie-item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movie-item img {
    width: 100%;
    transform: scale(0.9);
    transition: 0.3s;
}

.movie-item img:hover {
    transform: scale(1);
}

.navigate-left, .navigate-right {
    position: absolute;
    width: 72px;
    margin-top: 10px;
    height: 205px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: #000000a2;
}

.navigate-left {
    left: 0;
}

.navigate-right {
    right: 0;
}

.movieList:hover .navigate-left, .movieList:hover .navigate-right {
    opacity: 1;
}

@media (max-with: 760px) {

    .navigate-left, .navigate-right {
        opacity: 1;
    }
}